@font-face {
    font-family: "iransans";
    src: url("../fonts/iransans/IRANSansWeb(FaNum).woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "iransans";
    src: url("../fonts/iransans/IRANSansWeb(FaNum)_Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "iransans";
    src: url("../fonts/iransans/IRANSansWeb(FaNum)_Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}