@font-face {
  font-family: 'fontello';
  src: url('./fontello.eot?19454954');
  src: url('./fontello.eot?19454954#iefix') format('embedded-opentype'),
       url('./fontello.woff2?19454954') format('woff2'),
       url('./fontello.woff?19454954') format('woff'),
       url('./fontello.ttf?19454954') format('truetype'),
       url('./fontello.svg?19454954#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19454954#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-right-arrow-7351:before { content: '\e800'; } /* '' */
.icon-left-arrow-7352:before { content: '\e801'; } /* '' */
.icon-icons8-google-play:before { content: '\e805'; } /* '' */
.icon-1efb03c7b24448b2a95272321bf670ba:before { content: '\e807'; } /* '' */
.icon-linearicons_laptop-phone:before { content: '\e808'; } /* '' */
.icon-lnr-cloud:before { content: '\e809'; } /* '' */
.icon-moon-24:before { content: '\e80a'; } /* '' */
.icon-sun-29:before { content: '\e80b'; } /* '' */
.icon-shield-check:before { content: '\e80c'; } /* '' */
.icon-login:before { content: '\e80d'; } /* '' */
.icon-a6b6b86303967e34e75d4e2d9f9c810c:before { content: '\e80e'; } /* '' */
